.greeting-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 30px;
}

.greeting-input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 400px;

}

.greeting-message {
  margin: 0;

}

.greeting__wrapper {
  margin-top: 30px;
}